.game-card{
    background-color: #fafafa;
    margin: 16px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 300px;
}